.container-main {
    border: solid 1px black;
    margin: 0% auto;
    width: 75%;
    text-align: center;
}

.container-flex-cat {
    border: solid 1px black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container-flex-cat img {
    padding: 10px;
    box-shadow: black 0px 10px 50px;
}